.preloader{
    will-change: opacity, transform;
    backface-visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 80px;
    line-height: 80px;
    visibility: visible;
    background: #13121f;
    font-family: Arial;
    animation-name: preloader;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.preloader div{
    width: 100%;
    height: 50vh;
    background: url(../img/app-icon.jpeg) no-repeat center;
    background-size: cover;
}
.preloader h3{
    display: none;
}
.preloader_hidden{
    opacity: 0;
    transition: ease 0.5s;
    visibility: hidden;
    pointer-events: none;
}

@media only screen and (min-width: 780px){
    .preloader div{
        width: 50%;
        height: 65vh;
    }
    .preloader h3{
        display: block;
    }
    .preloader_hidden{
        opacity: 1;
        visibility: visible;
    }
}