*{
    outline: none;
    font-family: Verdana, sans-serif;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    --mb: 10px;
}
body{
    background: #f1fff2;
}
.navbar{
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #44344F;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.navbar a{
    padding: 0px 25px;
}
.focused{
    box-shadow: #C2F970 0px -20px 8px -12px, #C2F970 0px -25px 5px -11px;
}
.nav-icons{
    width: 25px;
    height: 25px;
    filter: invert(98%) sepia(69%) saturate(873%) hue-rotate(24deg) brightness(87%) contrast(129%);
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

/*Home part */

.profile-icon{
    width: 50px;
    height: 50px;
    border: #C2F970 solid 2px;
    border-radius: 50%;
    background: url(../img/index/profile.png) center;
    background-size: cover;
    margin: 0px 0px 0px 10px;
}
header h3{
    text-decoration: underline 2px;
}
.settings-button{
    width: 40px;
    height: 40px;
    filter: invert(98%) sepia(69%) saturate(873%) hue-rotate(24deg) brightness(87%) contrast(129%);
}
.settings-button img{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: .2s;
}
.settings-button img:nth-child(2){
    opacity: 0;
}
.settings-button:hover img:nth-child(2){
    opacity: 1;
}
.nearby-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.content-card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 10px;
    width: 90%;
    height: 300px;
    margin: 20px 0px var(--mb) 0px;
}
.content-card:last-child{
    margin-bottom: calc(var(--mb) + 60px);
}
.content-card img{
    width: 100%;
    height: 75%;
    border-radius: 10px 10px 0px 0px;
}
.card-info{
    margin: 10px 0px 0px 0px;
    word-spacing: 30px;
}

/*Category part */

.categories{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0px 30px 0px;
    width: 40%;
    height: 175px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    overflow: hidden;
    font-size: 15px;
}
.category-card img{
    width: 100%;
    filter: invert(98%) sepia(69%) saturate(873%) hue-rotate(24deg) brightness(87%) contrast(129%);
}
.category-card:last-child{
    margin-bottom: calc(var(--mb) + 60px);
}
