*{
    outline: none;
    font-family: Verdana, sans-serif;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    --mb: 10px;
    --filter: invert(98%) sepia(69%) saturate(873%) hue-rotate(24deg) brightness(87%) contrast(129%);;
}
body{
    background: #f1fff2;
}
.navbar{
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #44344F;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.navbar a{
    padding: 0px 25px;
}
.focused{
    box-shadow: #C2F970 0px -20px 8px -12px, #C2F970 0px -25px 5px -11px;
}
.nav-icons{
    width: 25px;
    height: 25px;
    filter: var(--filter);
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

/*index.html part */

.profile-icon{
    width: 50px;
    height: 50px;
    border: #C2F970 solid 2px;
    border-radius: 50%;
    background: url(../img/index/profile.png) center;
    background-size: cover;
    margin: 0px 0px 0px 10px;
}
header h3{
    text-decoration: underline 2px;
}
.settings-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.settings-button img{
    width: 40px;
    height: 40px;
    position: absolute;
    transition: .2s;
    filter: var(--filter);
}
.settings-button img:nth-child(2){
    opacity: 0;
}
.settings-button:hover img:nth-child(2){
    opacity: 1;
}
.nearby-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.content-card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 10px;
    width: 90%;
    height: 300px;
    margin: 20px 0px var(--mb) 0px;
}
.content-card:last-child{
    margin-bottom: calc(var(--mb) + 60px);
}
.absolute-domain{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    border-radius: 10px 10px 0px 0px;
}
.favorite-button{
    filter: var(--filter);
    width: 40px;
    height: 40px;
    margin: 8px;
}
.card-pic{
    width: 100%;
    height: 75%;
    border-radius: 10px 10px 0px 0px;
}
.card-info{
    margin: 10px 0px 0px 0px;
    word-spacing: 30px;
}

/*favorite.html part */

.favorites-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 45vh;
}
.favorites-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #44344F;
    width: 95%;
    height: 100%;
    border-radius: 20px;
    flex-wrap: wrap;
    color: white;
}
.favorite-folder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #564D80;
    width: 40%;
    height: 42%;
    margin: 9px;
    border-radius: 20px;
    box-shadow: #C2F970 0px 0px 6px 2px;
}
.favorite-folder:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    background-color: #44344F;
    border: white dotted 5px;
}
.favorite-folder div{
    width: 40%;
    height: 30%;
    margin: 3px;
    border-radius: 5px;
}
.empty-folder{
    border: white dotted 2px;
}
.favorite-folder div img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.favorite-folder h4{
    width: 100%;
}
.create-folder-button{
    filter: invert(100%) sepia(8%) saturate(7467%) hue-rotate(261deg) brightness(124%) contrast(107%);
    width: 50%;
}
.favorites-suggestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #44344F;
    width: 100%;
    height: 800px;
    margin: 16px 0px 0px 0px;
    color: white;
}
.favorites-suggestions h3{
    width: 100%;
    height: fit-content;
}

/*category.html part */

.categories{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px 30px 0px;
    width: 40%;
    height: 175px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    overflow: hidden;
    font-size: 15px;
}
.category-card img{
    width: 90%;
    filter: var(--filter);
}
.category-card:last-child{
    margin-bottom: calc(var(--mb) + 60px);
}