*{
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
}
html, body{
    height: 100vh;
    overflow: hidden;
    background-color: #f1fff2;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.profile-icon{
    width: 80px;
    height: 80px;
    border: #C2F970 solid 5px;
    border-radius: 50px;
    background: url(../img/profile.png) center;
    background-size: cover;
    margin: 0px 0px 0px 20px;
}
.address-line{
    width: fit-content;
    margin: auto;
}
header h2{
    text-decoration: underline 2px;
}