.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  --background: #564D80;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: inset 15px -4px 0px 15px #fff000;
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: #564D80;
}

input:checked + .slider:before {
  box-shadow: inset 8px -4px 0px 0px #fff000;
}